<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>菜单</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <script>
        (function () {
            var _loading = [];
            Vue.http.interceptors.push(function (request, next) {
                if(!request.hideLoading) {
                    var tmp = new Vue();
                    tmp["$Message"].config({
                        top: 350
                    });
                    _loading.push(tmp["$Message"].loading('正在加载中...', 0));
                }
                request.url = request.url + (request.url.indexOf("?") == -1 ? "?" : "&") + "v=" + new Date().getTime();
                next(function (response) {
                    response.data = typeof response.data == "string" ? response.data != "" ? ( new Function("return " + response.data) )() : '' : response.data;
                    for(var i in _loading) {
                        _loading[i]();
                    }
                    if(response.status == 500) {
                        new Vue()["$Notice"].error({
                            title: '出了点小问题',

                            desc: "系统繁忙，请稍后再试"
                        });
                    } else if(response.status == 0) {
                        new Vue()["$Notice"].error({
                            title: '出了点小问题',
                            desc: "您的网络连接失败"
                        });
                    }
                });
            });
        })();
    </script>


</head>
<body>

<style>
    .pop-table.pop-table-stripe{

        height: auto;
    }
</style>
<template id="menu" style="display: none;">
    <p-row type="flex" justify="start" class="code-row-bg">
        <p-col>
    <p-menu :theme="theme2" @on-select="select">
        <div  v-for="menuModel in menuModelList">
            <template v-if="menuModel.subMenuModelList === null">
                <p-menu-item :key="menuModel.link" >
                    <p-icon type="ios-paper"></p-icon>
                    {{menuModel.name}}
                </p-menu-item>
            </template>
            <template v-else>
                <p-submenu :key="menuModel.name">
                    <template slot="title">
                        <p-icon type="ios-paper"></p-icon>
                        {{menuModel.name}}
                    </template>
                    <div v-for="subMenuModel in menuModel.subMenuModelList">
                        <p-menu-item :key="subMenuModel.link" >{{subMenuModel.name}}</p-menu-item>
                    </div>
                </p-submenu>
            </template>
        </div>
    </p-menu>
        </p-col>
        <p-col span="10">
            <iframe id="detailFrame" src="{{menuLink}}"  width="1000" height="1000" style="margin-bottom: 0px;margin-left: 100px;"></iframe>
        </p-col>
    </p-row>

</template>
<div id="app">
    <router-view></router-view>
</div>
<link type="text/css" rel="stylesheet" href="/css/upload.css" />
<script src="/js/armyknife/armyknife-components.js" type="text/javascript"></script>
<script src="/js/armyknife/armyknife-api.js" type="text/javascript"></script>
<script src="/js/armyknife/menu-router.js" type="text/javascript"></script>
</body>
</html>
