.pop_design_top_line{border-top: solid 2px #8c8c8c;}
.pop_design_txt_warning .pop-table-cell{color: #f90;}

.row_operate{color:#33a6f3;}
.align_center {text-align: center;}
.normal_padding_right .pop-input{padding-right: 7px !important;}
