<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>菜单</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <!--vue-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vue-resource/dist/vue-resource.min.js"></script>
    <!--element-ui-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .pop-table.pop-table-stripe{

            height: auto;
        }
    </style>
</head>

<body>
<template id="interfaceinvoke" style="display: none;">
    <div>
    <B>接口调用</B>
    <br/>
    <br/>
    <el-row type="flex" justify="start" class="code-row-bg">
        <el-col :span="4">
           接口：
        </el-col>
        <el-col :span="12">
            <el-select v-model="invokeModel.beanName" placeholder="请选择" @change="initMethod()" filterable >
                <el-option v-for="item in interfaces" :value="item.beanName">{{item.beanName}}</el-option>
            </el-select>
        </el-col>
    </el-row>
        <br>
    <el-row type="flex" justify="start" class="code-row-bg">
        <el-col :span="4">
           方法：
        </el-col>
        <el-col :span="12">
            <el-select v-model="invokeModel.methodName" placeholder="请选择" @change="initArgument()" filterable>
                <el-option v-for="item in SelectedMethodList" :value="item.methodName">{{item.methodName}} 返回值：{{item.returnType}}</el-option>
            </el-select>
        </el-col>
    </el-row>
        <br>
    <el-row type="flex" justify="start" class="code-row-bg">
        <el-col :span="4">
            请求参数：
        </el-col>
        <el-col :span="24">
            <el-table  :data="SelectedArgumentList" stripe highlight-row border >
                <el-table-column
                        label="参数名称"
                        prop="arguName"
                        align="center"
                        width="100">
                </el-table-column>
                <el-table-column
                        label="参数类型"
                        prop="arguType"
                        align="center">
                </el-table-column>
                <el-table-column
                        label="初始值"
                        prop="initialValue"
                        align="center">
                    <template slot-scope="scope">
                        <el-input  type="textarea":autosize="{minRows: 2,maxRows: 15}" v-model="invokeModel.arguValue[scope.$index]"></el-input>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
        <br>
    <el-row type="flex" justify="start" class="code-row-bg">
        <el-col :span="20" :offset="12" >
            <template v-if="isButtonDisable">
                <el-button type="primary" @click="submit()" disabled>执行</el-button>
            </template>
            <template v-if="!isButtonDisable">
                <el-button type="primary" @click="submit()" >执行</el-button>
            </template>
        </el-col>
    </el-row>
    <br/>
    <br/>
        <el-row>
        <el-col :span="22">
            返回值：
            <br> <br> <br>
                   <el-input  type="textarea":autosize="{minRows: 2,maxRows: 15}" v-model="responseStr"></el-input>
                </el-col>
        </el-row>
    <br/>
    <br/>
    </div>
</template>

<div id="app">
    <router-view></router-view>
</div>
<link type="text/css" rel="stylesheet" href="/css/upload.css" />
<script src="/js/armyknife/armyknife-interface-components.js" type="text/javascript"></script>
<script src="/js/armyknife/armyknife-interface-api.js" type="text/javascript"></script>
<script src="/js/armyknife/interface-router.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/vue-main.js"></script>
</body>
</html>
